.right-sidebar {
  max-width: 319px;
  width: 100%;
  padding-top: 30px;
  position: sticky;
  top: 0;
  height: 100vh;

  .auth-info {
    margin: 16px 4px 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .auth-img {
      margin-right: 12px;
      img {
        border-radius: 50%;
        width: 56px;
        height: 56px;
        object-fit: cover;
      }
    }

    .auth-desc {
      flex-grow: 1;

      .user-name {
        margin-left: 5px;
        a {
          color: #262626;
          text-decoration: none;
          font-size: 13.3px;
          line-height: 18px;
          font-weight: 500;
        }
      }
      .name {
        margin-top: -2px;
        margin-left: 5px;
        span {
          color: #8e8e8e;
          font-size: 13.3px;
          line-height: 18px;
          font-weight: 400;
        }
      }
    }

    .switch-acc {
      margin-left: 8px;
      button {
        color: rgb(0, 149, 246);
        background: transparent;
        border: none;
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: rgb(0, 55, 107);
        }
      }
    }
  }

  .suggestion {
    margin: 0 0 12px -16px;
    width: calc(100% + 32px);

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 16px;

      span {
        color: #8e8e8e;
        font-size: 13.3px;
        font-weight: 600px;
        line-height: 18px;
      }
      button {
        color: rgb(38, 38, 38);
        background: transparent;
        border: none;
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .list-wrapper {
      margin: 0 0 4px 4px;

      ul {
        margin: 0;
        padding: 8px 0;
        list-style: none;

        li {
          padding: 8px 16px;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .user-img {
            margin-right: 12px;

            img {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              object-fit: cover;
              vertical-align: middle;
            }
          }

          .user-desc {
            flex-grow: 1;

            display: flex;
            flex-direction: column;

            .username {
              font-weight: 600;
              font-size: 13.3px;
              line-height: 18px;
              color: #262626;
            }
            .quote {
              font-size: 12px;
              line-height: 16px;
              font-weight: 400;
              color: #8e8e8e;
            }
          }

          .follow-btn {
            button {
              color: rgb(0, 149, 246);
              background: transparent;
              border: none;
              font-size: 12px;
              line-height: 16px;
              font-weight: 600;
              cursor: pointer;
              transition: all 0.2s ease-in-out;

              &:hover {
                color: rgb(0, 55, 107);
              }
            }
          }
        }
      }
    }
  }

  .footer {
    padding-bottom: 38px;

    .top {
      margin-bottom: 16px;

      ul.nav {
        margin-bottom: 3px;
        list-style: none;

        li {
          color: #c7c7c7;
          vertical-align: middle;
          display: inline-block;
          line-height: 16px;

          &:last-child::after {
            display: none;
          }

          &::after {
            content: "\00B7";
            margin: 0 0.25em 0 0.25em;
          }
          a {
            color: #c7c7c7;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .bottom {
      p.copyright {
        color: #c7c7c7;
        font-size: 13.3px;
        font-weight: 400;
        line-height: 16px;
        text-transform: uppercase;
      }
    }
  }
}
