* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.main {
  width: calc(100% - 335px);
  margin: 0 0 0 auto;
  position: relative;

  .main-container {
    max-width: 853px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding-top: 4px;
    align-items: stretch;
    flex-flow: row nowrap;
  }
}
.dropdown {
  position: relative;

  .dropdown-menu.show {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }
}
.dropdown-menu {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 999;
  right: 8px;
  top: 41px;
  width: 100px;
  opacity: 0;
  visibility: hidden;
  transform-origin: top center;
  transition: 0.3s ease-in-out;
  transform: scaleY(0);

  .dropdown-item {
    width: 100%;
    color: #fff;
    background: #797979 !important;
    display: block !important;
    border-bottom: 1px solid #fff !important;

    &:last-child {
      border-bottom: none !important;
    }
    &:hover {
      background: red !important;
      opacity: 1 !important;
    }
  }
}
